body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #332853;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header img {
    width: 200px;
    vertical-align: middle;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #332853;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

form label, form input, form select, form textarea {
    display: block;
    margin-bottom: 10px;
}

form input, form select, form textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #555;
}